@font-face {
    font-family: font; 
    src: url('Vifont!!!.ttf'); 
}
html {
    font-family: font; font-size: xx-large;
}
footer {
    background-color:#8f54ff; color:#300385; font-family: font; position:fixed; bottom: 0; left: 0; right: 0; text-align: center;
}

body {
  cursor: url('pixil-frame-0\ \(2\).png'), auto;
}

a, button, .clickable {
  cursor: url('pixil-frame-1.png'), pointer;
}

textarea {
  cursor: url('pixil-frame-2.png'), text;
}